@import url('https://fonts.googleapis.com/css2?family=Didact+Gothic&family=Tilt+Neon&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;


.myFont{
    font-family: "Tilt Neon", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.glassMor{
  
  
    background-color: rgba(255, 255, 255, 0.302);
    backdrop-filter: blur(15px);
  
}

body{
    background-color: black;
}